%h1= t('categories.new_category') #Nueva categoria, deberia de estar pero, por medio de I18n estamos fijando que en la ruta category.new_category esta este titulo, ver application_controller.rb y es.yml, esos dos archivostienen que ver con lo que se menciona anteriormente

= render 'form'

= link_to t('categories.Back'), categories_path
